div{
  display: flex;
  justify-content: center;
  font-size: 25px;
}
button{
  margin: 25px 10px;
  width: 30px;
  height: 30px;
  background: #008080;
  border: none;
  color: #ffffff;
  outline: none;
}
